/* ---------- SCROLL BEHAVIOR ---------- */
html,
body {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-blue: #1e73be; /* header, headings */
  --secondary-blue: #0b5ed7; /* buttons hover */
  --accent-orange: #ff7a30; /* CTA buttons */
  --light-bg: #f5f8fc; /* section background */
  --white: #ffffff;
}

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 2px solid red; */
}

body {
  overflow-x: hidden;
}

/* ---------- COMMON ---------- */
.flex {
  display: flex;
  align-items: center;
}

section{
  background: var(--light-bg);
}
/* ---------- NAVBAR ---------- */
nav {
  background: var(--white);
  padding: 12px 20px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}
.logo a {
  text-decoration: none;
}

.logo h1 {
  margin-left: 3px;
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-blue);
}
.logo h1 span {
  color: var(--accent-orange);
}
.contact-btn {
  font-size: medium !important;
  background: linear-gradient(0deg, var(--accent-orange), #ff9f1c);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s ease;
}

/* ---------- CENTER NAV (DESKTOP) ---------- */
.center-nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

.center-nav ul li a {
  width: 150px;
  text-decoration: none;
  color: var(--primary-blue);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease;
}

.center-nav ul li a:hover {
  color: var(--secondary-blue);
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid var(--secondary-blue);
}

/* ---------- MENU BUTTON ---------- */
#menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

#menu-btn img {
  width: 28px;
}

/* ---------- SIDEBAR ---------- */
aside {
  width: 100%;
  background: var(--accent-orange);
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  position: fixed;
  top: 74.5px;
  z-index: 111;
}

aside.active {
  height: 240px;
  position: absolute;
  z-index: 111;
}

aside ul {
  list-style: none;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

aside ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-5px);
}

aside.active ul li a {
  opacity: 1;
  transform: translateY(0);
}
aside.active ul li a:hover {
  border-bottom: 2px solid var(--white);
}

/* ---------- MAIN ---------- */
main {
  background-image: url(assets/images/hero.png);
  width: 100%;
  height: 90vh;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading h2,
#heading h3 {
  font-size: 4.6875rem;
  line-height: 1.2;
}
#heading h2,
#heading p {
  color: var(--light-bg);
}
#heading h3 {
  color: var(--accent-orange);
}
#heading p {
  line-height: 30px;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
}
/* ---------- HERO ---------- */
.hero {
  background: var(--light-bg);
  width: 90%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px 30px;
  gap: 30px;
  justify-content: space-evenly;
}
select,
.date-input {
  font-size: 16px;
  border-radius: 5px;
  color: var(--primary-blue);
  background-color: var(--white);
  border: 1px solid #ccc;
  flex-shrink: 0;
}
select,
.date-input,
#search-btn:focus {
  width: 20%;
  border-color: none;
  outline: none;
}
select {
  padding: 8px 12px;
  cursor: pointer;
}
.date-input {
  width: 200px;
  padding: 6px;
}
#search-btn {
  padding: 8px 50px;
}

/* ---------- COMMAN SECTION ---------- */

.common-heading,
.section-two h4,
.section-three-heading h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  gap: 5px;
  color: var(--secondary-blue);
  justify-content: center;
  padding: 30px 0;
}

.separation {
  background: var(--primary-blue);
  height: 5px;
  flex-direction: column !important;
  opacity: 0.2;
  width: 100%;
}

/* ---------- ALL CARDS ---------- */

.section-one > .common-heading > .separation {
  max-width: 90px;
}

.section-one .grid {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}

.box {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: contain;
  background-size: 100% 100%;
  background: #000;
  border-radius: 9px;
}

.box .image {
  overflow: hidden;
  height: 320px;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  transform: scale(1);
  transition: all 0.4s;
  border-radius: inherit;
}
.box .content {
  display: inline;
  color: rgba(255, 255, 255, 0.847);
  background: none;
  position: absolute;
  right: 0;
  transition: all 0.4s;
}
.box .content p {
  padding: 30px;
  font-size: 1.2rem;
  background: none;
  font-weight: normal;
  cursor: pointer;
  color: rgba(221, 212, 212, 0.679);
}
.box:hover .content {
  transition: all 0.2s;
  top: 0%;
}
.box:hover img {
  transition: all 0.5s;
  transform: scale(1.05);
  opacity: 0.5;
}

.fix-content {
  position: absolute;
  bottom: 0;
  z-index: 111;
  color: rgba(255, 255, 255, 0.805);
  padding: 20px;
}
.fix-content h5 {
  font-size: xx-large;
}

/* ---------- SECTION TWO ---------- */
.section-two {
  flex-direction: column;
}
.section-two .common-heading {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 12px;
}

.section-two .separation {
  flex: 1;
  flex-shrink: 0;
  min-width: 130px;
  max-width: 400px;
}
.section-two .grid {
  width: 100%;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 250px));
  grid-template-rows: repeat(1, minmax(200px, 200px));
  gap: 50px;
  background: #eff4f9;
  border-radius: 12px;
  justify-content: center;
}

.section-two .service-box {
  width: 100%;
  width: inherit;
  height: fit-content;
  overflow: hidden;
  border-radius: 12px;
}

.section-two .service-box img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  display: block;
}
.section-two .service-box p {
  color: var(--primary-blue);
  text-align: center;
  font-weight: 500;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

/* ---------- SECTION THREE ---------- */

.section-three {
  width: 100%;
  background: #c6d4e3;
  margin-top: 50px;
  padding: 0 0 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.section-three .section-three-container-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-three-container-1 h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
line-height: 1;
}
.section-three-heading {
  display: flex;
  align-items: center;
}
.section-three-container-1 .separation {
  margin-left: 15px;
  flex: 1;
  flex-shrink: 0;
  min-width: 30px;
  max-width: 400px;
}
.section-three-container-1 p {
  font-size: larger;
  font-weight: bold;
  color: var(--primary-blue);
}

.section-three .section-three-container-2 {
  height: 350px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
}
.section-three-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#Planning-btn {
  font-size: x-large !important;
  width: 250px;
  height: 50px;
  padding: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

/* ---------- FOOTER ---------- */
footer {
  background: var(--secondary-blue);
  justify-content: space-between;
  padding: 30px 10%;
}

.footer-icons {
  width: 35px;
  height: 35px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.footer-icons img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 25px;
  overflow: hidden;
}
.center-footer {
  font-size: medium;
  color: var(--light-bg);
  letter-spacing: 1.5px;
  word-spacing: 2.5px;
  gap: 8px;
}

/* ---------- RESPONSIVE at 1024px ---------- */
@media screen and (max-width: 1024px) {
  /* ---------- MAIN RESPONSIVE---------- */
  main {
    align-items: center;
    padding: 150px 0;
    height: fit-content;
  }

  #rep-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #heading {
    padding-left: 50px;
    align-self: flex-start;
    padding-bottom: 10px;
  }
  #heading h2,
  #heading h3 {
    font-size: 3.7rem;
  }
  #heading p {
    font-size: 1.12rem;
  }

  /* ---------- ALL CARDS RESPONSIVE ---------- */
  .grid {
    padding: 0 50px;
  }

  .box .content p {
    padding: 20px;
    font-size: 20px;
  }
  .fix-content {
    padding: 20px;
    line-height: 1.2;
  }
  .fix-content h5 {
    font-size: x-large;
    text-align: start;
    padding-left: 10px;
  }
}

/* ---------- RESPONSIVE at 700px ---------- */
@media only screen and (max-width: 800px) {
  /* ---------- NAVBAR RESPONSIVE---------- */
  .center-nav {
    display: none;
  }

  #menu-btn {
    display: block;
  }
  #rep-btn .contact-btn {
    display: none;
  }
  /* ---------- HEADING RESPONSIVE---------- */
  #heading {
    align-self: center;
    padding-left: 0;
  }

  /* ---------- MAIN RESPONSIVE---------- */
  select,
  .date-input,
  #search-btn {
    width: 100% !important;
  }
  .hero {
    flex-direction: column;
    padding: 50px 30px;
    width: 50%;
    gap: 35px;
    margin-top: 30px;
  }

  /* ---------- SECTION TWO RESPONSIVE---------- */

  .section-two .grid {
    grid-template-columns: repeat(1, minmax(200px, 280px));
    grid-template-rows: repeat(1, minmax(200px, 280px));
    gap: 30px;
    padding: 35px;
  }

  .section-two .service-box {
    width: 100%;
    height: 100%;
  }
  .common-heading,
  .section-two h4 {
    font-size: 1.2rem;
  }

  /* ---------- SECTION THREE RESPONSIVE---------- */
  .section-three {
    width: 100%;
    padding: 0 0 0 10px;
    gap: 40px;
  }
  .section-three-container-1 h4 {
    font-size: xx-large;
  }
}

/* ---------- RESPONSIVE at 400px ---------- */
@media only screen and (max-width: 400px) {
  /* ---------- NAVBAR RESPONSIVE---------- */

  .hero {
    width: 70%;
  }

  /* ---------- ALL CARDS RESPONSIVE ---------- */

  .grid {
    padding: 0 50px;
  }

  .box .content p {
    padding: 20px;
    font-size: 1rem;
  }

  /* ---------- SECTION THREE RESPONSIVE ---------- */

  .section-three {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px 0 0 10px;
  }

  .section-three-heading {
    justify-content: center;
  }

  .section-three .section-three-container-1 {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .section-three .section-three-container-1 button {
    width: 80%;
    height: 45px;
    padding: 0;
    flex-shrink: 0;
    align-self: center !important;
  }

  /* ---------- FOOTER RESPONSIVE ---------- */
  footer {
    flex-direction: column !important;
    padding: 10px 0;
    gap: 10px;
  }
  .footer-icons {
    width: 25px;
    height: 25px;
  }
  .footer-icons img {
    width: 25px;
    height: 25px;
  }
}
